<html>
    <head>
			
	</head>
	<body>
        <h1>Quick template demonstrating multiple modules.</h1>
        <div ng-app="DashboardApp">
            
            <div ng-controller="DashboardController">
                <input type="button" ng-click="displayNotice()" value="Display Notice"/>

                <div>{{messages.notice}}</div>
            </div>

            <div ng-controller="UsersController">
                <ul ng-repeat="person in names">
                    <li>{{person.name}}</li>
                </ul>
            </div>

        <div>
	
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/app/app.js"></script>
        <script type="text/javascript" src="assets/js/app/controllers/Dashboard.js"></script>
        <script type="text/javascript" src="assets/js/app/controllers/Users.js"></script>
        
    </body>
</html>
